.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

/* paddign left and right  */
.p-x-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-x-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}

/* padding top and bottom */
.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-y-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* margin top and bottom */
.m-y-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-b {
    margin-bottom: 20px;
}

/* border raduis start */
.border-radius {
    border-radius: 10px;
}

/* border raduis end */