*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --content-color: #e6e6e6;
    --main-border: #ccc;    
    --hover-color: #f6f6f6;
    --main-transition: all 0.3s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F1F5F9;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 15px;
}